@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  background-color: #EDF2F4;
  font-family: 'Roboto', sans-serif;
  --scrollbar-width: 4px;
  --scrollbar-thumb: #cbd5e1; /* Default thumb color */
  --scrollbar-thumb-hover: #94a3b8; /* Default hover color */
  --scrollbar-track: #f1f5f9; /* Default track color */
}

@layer utilities {

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: 4px;
  /* Firefox */
}

.dark-theme {
  --scrollbar-width: 4px;
  --scrollbar-thumb: #555;
  --scrollbar-thumb-hover: #333;
  --scrollbar-track: #777;
}

.custom-scrollbar::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 10px;
}


@tailwind base;

@layer base {

  h1,
  .h1 {
    @apply text-[1xl];
  }

  h2,
  .h2 {
    @apply text-[2xl];
  }

  h3,
  .h3 {
    @apply text-[3xl];
  }

  h4,
  .h4 {
    @apply text-[4xl];
  }

  h5,
  .h5 {
    @apply text-[5xl];
  }

  h6,
  .h6 {
    @apply text-[6xl];
  }
}

@tailwind components;
@tailwind utilities;

.svelte-easy-crop-area {
  border-radius: 8px !important;
  border: 1px dashed #98c43d !important;
}